<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-6">
    <div class="text-container">
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <i class="fa fa-github fa-5x" aria-hidden="true"></i>
    <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
    <i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i>
    <h2>A little bit about me</h2>
    <p>I am a full-stack developer that loves building functional and creative websites.

       I am a nerd when talking about how you structured your data and
    I love learning new tricks to make code look as eloquent as possible.</p>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class='col-md-4'>

    <h2>Fun Facts</h2>
    <p>
      <%= "I am a massive tennis fan " %><%= link_to ' and yes Roger Federer is the greatest of all time', 'http://www.maxim.com/entertainment/the-natural-roger-federer-2016-5'%>.</br>
      <%= "I did a 40 day hiking trip through the "%><%= link_to 'Wind River Range', 'https://en.wikipedia.org/wiki/Wind_River_Range'%>.</br>
      <%= "I applied to go to space to populate Mars but I was too tall." %></br>
      <%= "Lastly, I once made it to my local news channel. " %><%= link_to 'My biggest achievement ever', 'http://www.krdo.com/news/local-news/engine-failure-prompts-emergency-landing-at-colorado-springs-airport/35081896'%>.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Let's Talk</h2>
    <p>Here is my <%= link_to "Github Account", 'https://github.com/isaacjtullis'%></p>
    <p>Here is my <%= link_to "LinkedIn Account", 'https://www.linkedin.com/in/isaac-j-tullis' %></p>
    <h2>My Specialities</h2>
    <ul>
      <li>Ruby</li><li>Rails</li><li>Javascript</li> <li>React.js</li>
      <li>HTML</li> <li>PostgreSQL</li> <li>TDD</li>
    </ul>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="past-work-container">
  <p class="banner"><%= "WORK I'VE DONE" %></p>
    <div class="center-text">
      <p>These projects are deployed with Heroku and are constantly evolving.</br>
        I am continually adding new features to these sites weekly and am currently learning React.js to improve the user experience.</br>
        I would love to talk about some of the things I have built and some ideas that I am currently thinking through.</p></br>
    </div>
  <h3><%= link_to "CITY IN A DAY", "http://city-in-a-day.herokuapp.com/"%></h3>
  <p>Used Devise for user authentication and implemented CarrierWave for users to
  post photos to their profile.</br>
  Added Javascript to enhance the user’s experience.</br>
  Integrated Google Maps API for users to save specific locations.</br>
  Users can follow other users, favorite other users posts and see all of these
  changes on their profile page.</br>
  The project is completely test-driven through Rspec and Capybara
  and styled using CSS.</p>
  <div class="photo-container">
    <%= image_tag "home.png" %>
    <%= image_tag "login.png" %>
    <%= image_tag "googlemaps.png" %>
    <%= image_tag "making-a-trail.png" %>
    <%= image_tag "featured-trail.png" %>
    <%= image_tag "profile.png" %>
  </div>
  <h3><%= link_to "ALL THAT'S LOCAL", "https://all-thats-local.herokuapp.com/"%></h3>
  <p> Used Devise for user authentication.</br>
      Implemented Ajax for asynchronous loading.</br>
      Added jQuery for slide down forms.</br>
      Completely test-drive with Rspec.
  </p>
  <div class="photo-container">
    <%= image_tag "home-screen.png" %>
    <%= image_tag "form.png" %>
    <%= image_tag "comments.png" %>
  </div>
  <h3><%= link_to "Andrews Design", "http://andrews-design.herokuapp.com/"%></h3>
  <p>Styled with HTML and CSS</br>
     Added Action Mailer for users to easily contact admin</p>
  <div class="photo-container">
    <%= image_tag "andrews-home-screen.png" %>
    <%= image_tag 'contact-form.png' %>
    <%= image_tag 'about-us.png' %>
  </div>
</div>
